<div class="modal" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div id="loginMsgDiv"></div>
                <form>
                    <!-- Username input -->
                    <div class="form-group">
                        <label for="usernameLogin">Username</label>
                        <input type="text" class="form-control" id="usernameLogin">
                    </div>

                    <!-- Password input -->
                    <div class="form-group">
                        <label for="passwordLogin">Password</label>
                        <input type="password" class="form-control" id="passwordLogin">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="loginUser">Login</button>
            </div>
        </div>
    </div>
</div>