<section id="banner">
    <div class="content">
      <header>
        <h1>Hi, Welcome to PayMyProject<br />
        </h1>
        <p>A free and fully responsive site to support your favorite creates</p>
      </header>
      <p>Please create a user account to follow and/or donate to your favorite projects. Or just browse current projects as a guest! </p>
      <!-- <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul> -->
    </div>
    <!-- <span class="image object">
      <img src="images/pic10.jpg" alt="" />
    </span> -->
  </section>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1><%= msg %></h1>
        <h2>This is our Home Page!</h2>
      </div>
    </div>
  </div>

  <% include ./partials/scripts %>
</body>

</html>