


    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4"><%=msg.name%></h1>
                <p class="lead"><%=msg.desc%>
                </p>
            </div>
        </div>
    <u>
            <a href="#" class="image"><img src="<%=msg.img%>" alt="" /></a>
        <li>Creator: <!-- <% %> --></li>
        <li>Creation Date: ExampleToBeReplaced<!-- <% %> --></li>

    </u>

    </div>


