


    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4"><%=proName%></h1>
                <p class="lead"></p>
            </div>
        </div>
    <u>
            <a href="#" class="image"><img src="<%=pic%>" alt="" /></a>
        <li>Creator: <%=creator%></li>
        <li>Creation Date: <%=dateMade%></li>

    </u>
    <button>PMP This Project</button>
    </div>


