<section id="banner">
    <div class="content">
        <header>
            <h1>User Registration</h1>
        </header>

        <br>

        <p>Please create a user account to follow and/or donate to your favorite projects.</p>
    </div>
</section>

<section>

    <div class="row gtr-uniform">
        <div class="col-5">
            <% if(error) { %>
            <span class="error">
                <%= msg %>
            </span>
            <% } %>
        </div>
    </div>

    <br>

    <form method="POST" action="/register">
        <div class="row gtr-uniform">
            <div class="row gtr-uniform">

                <div class="col-12 col-12-xsmall">
                    <input type="text" id="usernameInput" value="" placeholder="Username" name='username'
                        pattern="[a-zA-Z0-9]{4,16}" maxlength="16" required>
                </div>

                <div class="col-12 col-12-xsmall">
                    <input type="email" id="emailInput" value="" placeholder="Email" name='email' maxlength="100"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                </div>

                <div class="col-12 col-12-xsmall">
                    <input type="password" id="passwordInput" value="" placeholder="password" name='password'
                        pattern="(\w\W){4,32}" maxlength="32" required>
                </div>

                <div class="col-12  col-12-xsmall">
                    <input type="password" id="passwordVerify" value="" placeholder="password" name='passwordVerify'
                        pattern="(\w\W){4,32}" maxlength="32" required>
                </div>

            </div>

            <!-- Break -->
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" id="registerUser" value="Submit" class="primary"></li>
                    <li><input type="reset" value="Reset"></li>
                </ul>
            </div>
        </div>
    </form>
</section>