<section id="banner">
        <div class="content">
          <header>
            <h1>Hi, Welcome to PayMyProject<br />
            </h1>
            <p>A fully responsive site to support your favorite content/project creators</p>
          </header>
          <p>Please create a user account to follow and/or donate to your favorite projects. Or just browse current projects
            as a guest! </p>
        </div>
      
      </section>
      <section>
        <header class="major">
          <h2>COngrats on your payments</h2> 
          <a href="/">Go back to main page</a><!-- Change to Following if following-->
        </header>
        <div class="posts">
      
          
        </div>
      </section>