<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="navbar"></nav>
    <div class="container">
        <div class = 'profileCard'>
            <div class="pictureBox">
                <img src="https://picsum.photos/100" alt="">
            </div>
            <div class="info">
                <h4 class="name"><%= name %></h4>
                <h4 class="email"><%= email %></h4>
            </div>
        </div>
        <div class="body">
            <div class="projectsContainer">
                <div class="myProjects">
                    <h3>My Projects</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>