.list-group-item {
  line-height: 2.5;
}
.navbar{
  width: 100%;
  height:34px;
  background: black;
}
.description{
  margin-bottom: 10px;
  margin-top: 0px;
  height: 200px;
  width: 100%;
  background: linear-gradient(#229ab5,#14efff) ;
  flex-direction: column;
  display: flex;
align-items: center;
}
.profileCard{
  margin-top: 20px;
  height: 200px;
  width: 100%;
  display: flex;
  background: linear-gradient(#9a0a0a, #5a1cb1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.pictureBox{
  height: 100px;
  width: 100px;
  margin: 0;
  background: blue;

}
.info{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info > *{
  margin: auto;
  margin-top: 5px;
}
.body{
  background: #ff6363;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.projectsContainer{
  background: red;
  flex: 1 1 100%
}
.projectsContainer > h3{
  margin: 0;
  margin: auto;
  width: 100%;
}
.projects{
  height: 80%;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.pro{
  width: 240px;
  height: 230px;
  background: yellow;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 2px #2e2828;
}
.pro > h4 {

}
.followersContainer {
  background: blue;
  flex: 1 1 100%
}
.followers{
  height: 80%;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.followersContainer > h3{
  margin: 0;
  margin: auto;
  width: 100%;
}
.fol{
  width: 240px;
  height: 230px;
  background: yellow;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 2px #2e2828;

}